<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
    id="com.oxygenxml.imageio.plugin.ImageIOPlugin"
    name="Web Author ImageIO Plugin"
    description="Provides support for rendering image formats unsupported by the browsers."
    version="${project.nosnapshot.version}"
    vendor="SyncRO"
    class="com.oxygenxml.imageio.plugin.ImageIOPlugin">
    <runtime>
      <librariesFolder name="lib"/>
      <librariesFolder scope="global" name="global"/>
      
      <librariesFolder name="target/lib"/>
      <librariesFolder scope="global" name="target/global"/>
      <library name="target/classes"/>
    </runtime>

    <extension type="WorkspaceAccess" 
      class="com.oxygenxml.imageio.workspace.ImageIOWorkspaceAccess"/>

</plugin>
